body {
	background-color: black;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	font-size:50px;
	color:blue;
	display:block;
	text-align:center;
}

.container{
	margin-top:30px;
	background-color:yellow;
	margin-bottom:30px;
}

#title {
	margin-bottom:100px;
}

#timeRemaining {
	font-size:30px;
	text-align:center;
}
#questionResult {
	font-size:23px;
	margin:20px;
	text-align:center;

}
#choices {
	font-size:30px;
	text-align:center;
	padding-bottom:50px;
}

.choice {
	display:block;
	clear:both;
	margin-left:250px;
	margin-right:250px;
}
.choice:hover {
	background-color:#F0F8FF;
	border-radius:3px;
	border-width:3px;
	border-color:blue;
	border-style:solid;
}
#imgCard img{
	margin:auto;
	display:block;
}
#imgCard {
	padding-bottom:50px;
}