body {
	background-color: black;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	font-size:36px;
	color:blue;
	display:block;
	margin:auto;
}

